{% extends "base.html" %}
{% load static %}

{% block body_class %}template-kitchen-sink-page{% endblock %}

{% block title %}Kitchen Sink{% endblock %}

{% block extra_css %}
<style>
  @media screen and (min-width: 1280px) {
    main.styleguide-grid {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 2rem;
    }

    aside.fixed {
      position: relative;
    }

    aside.fixed article {
      position: sticky;
      top: 2rem;
    }
  }
  main.styleguide-grid > section {
    min-width: 0;
  }
</style>
{% endblock %}

{% block content %}

{% include "style_guide/includes/header.html" %}


  <!-- Main -->
  <main class="container styleguide-grid">

    <aside role="sidebar">
      <article>
        <h3>Menu</h3>
        <nav>
          <ul>
            <li>
              <a href="#typography">Typography</a>
            </li>
            <li>
              <a href="#buttons">Buttons</a>
            </li>
            <li>
              <a href="#form">Form Elements</a>
            </li>
            <li>
              <a href="#tables">Tables</a>
            </li>
            <li>
              <a href="#modal">Modal</a>
            </li>
            <li>
              <a href="#accordions">Accordions</a>
            </li>
            <li>
              <a href="#article">Article</a>
            </li>
            <li>
              <a href="#group">Group</a>
            </li>
            <li>
              <a href="#progress">Progress</a>
            </li>
            <li>
              <a href="#loading">Loading</a>
            </li>
          </ul>
        </nav>
      </article>
    </aside>

    <section>
      {% include "style_guide/includes/theme_switcher.html" %}

      {% include "style_guide/includes/typography.html" %}

      {% include "style_guide/includes/buttons.html" %}

      {% include "style_guide/includes/forms.html" %}

      {% include "style_guide/includes/tables.html" %}

      {% include "style_guide/includes/modal_trigger.html" %}

      {% include "style_guide/includes/accordions.html" %}

      {% include "style_guide/includes/article.html" %}

      {% include "style_guide/includes/group.html" %}

      {% include "style_guide/includes/progress.html" %}

      {% include "style_guide/includes/loading.html" %}
    </section>


  </main>
  <!-- ./ Main -->

  {% include "style_guide/includes/footer.html" %}

  {% include "style_guide/includes/modal.html" %}

{% endblock %}

{% block extra_js %}
<script>
    /*!
 * Minimal theme switcher
 *
 * Pico.css - https://picocss.com
 * Copyright 2019-2024 - Licensed under MIT
 */

const themeSwitcher = {
  // Config
  _scheme: "auto",
  menuTarget: "details.dropdown",
  buttonsTarget: "a[data-theme-switcher]",
  buttonAttribute: "data-theme-switcher",
  rootAttribute: "data-theme",
  localStorageKey: "picoPreferredColorScheme",

  // Init
  init() {
    this.scheme = this.schemeFromLocalStorage;
    this.initSwitchers();
  },

  // Get color scheme from local storage
  get schemeFromLocalStorage() {
    return window.localStorage?.getItem(this.localStorageKey) ?? this._scheme;
  },

  // Preferred color scheme
  get preferredColorScheme() {
    return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
  },

  // Init switchers
  initSwitchers() {
    const buttons = document.querySelectorAll(this.buttonsTarget);
    buttons.forEach((button) => {
      button.addEventListener(
        "click",
        (event) => {
          event.preventDefault();
          // Set scheme
          this.scheme = button.getAttribute(this.buttonAttribute);
          // Close dropdown
          document.querySelector(this.menuTarget)?.removeAttribute("open");
        },
        false
      );
    });
  },

  // Set scheme
  set scheme(scheme) {
    if (scheme == "auto") {
      this._scheme = this.preferredColorScheme;
    } else if (scheme == "dark" || scheme == "light") {
      this._scheme = scheme;
    }
    this.applyScheme();
    this.schemeToLocalStorage();
  },

  // Get scheme
  get scheme() {
    return this._scheme;
  },

  // Apply scheme
  applyScheme() {
    document.querySelector("html")?.setAttribute(this.rootAttribute, this.scheme);
  },

  // Store scheme to local storage
  schemeToLocalStorage() {
    window.localStorage?.setItem(this.localStorageKey, this.scheme);
  },
};

// Init
themeSwitcher.init();
</script>
<script>
    /*
 * Modal
 *
 * Pico.css - https://picocss.com
 * Copyright 2019-2024 - Licensed under MIT
 */

// Config
const isOpenClass = "modal-is-open";
const openingClass = "modal-is-opening";
const closingClass = "modal-is-closing";
const scrollbarWidthCssVar = "--pico-scrollbar-width";
const animationDuration = 400; // ms
let visibleModal = null;

// Toggle modal
const toggleModal = (event) => {
  event.preventDefault();
  const modal = document.getElementById(event.currentTarget.dataset.target);
  if (!modal) return;
  modal && (modal.open ? closeModal(modal) : openModal(modal));
};

// Open modal
const openModal = (modal) => {
  const { documentElement: html } = document;
  const scrollbarWidth = getScrollbarWidth();
  if (scrollbarWidth) {
    html.style.setProperty(scrollbarWidthCssVar, `${scrollbarWidth}px`);
  }
  html.classList.add(isOpenClass, openingClass);
  setTimeout(() => {
    visibleModal = modal;
    html.classList.remove(openingClass);
  }, animationDuration);
  modal.showModal();
};

// Close modal
const closeModal = (modal) => {
  visibleModal = null;
  const { documentElement: html } = document;
  html.classList.add(closingClass);
  setTimeout(() => {
    html.classList.remove(closingClass, isOpenClass);
    html.style.removeProperty(scrollbarWidthCssVar);
    modal.close();
  }, animationDuration);
};

// Close with a click outside
document.addEventListener("click", (event) => {
  if (visibleModal === null) return;
  const modalContent = visibleModal.querySelector("article");
  const isClickInside = modalContent.contains(event.target);
  !isClickInside && closeModal(visibleModal);
});

// Close with Esc key
document.addEventListener("keydown", (event) => {
  if (event.key === "Escape" && visibleModal) {
    closeModal(visibleModal);
  }
});

// Get scrollbar width
const getScrollbarWidth = () => {
  const scrollbarWidth = window.innerWidth - document.documentElement.clientWidth;
  return scrollbarWidth;
};

// Is scrollbar visible
const isScrollbarVisible = () => {
  return document.body.scrollHeight > screen.height;
};
</script>
<script>
    /*
 * Side Navigation
 *
 */
const aside = document.querySelector("aside[role='sidebar']");
const header = document.querySelector("header[role='topbar']");

window.addEventListener("scroll", () => {
  if (window.scrollY > header.clientHeight) {
    aside.classList.add("fixed");
  } else {
    aside.classList.remove("fixed");
  }
});
</script>
{% endblock %}
