{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<style>
    /*
    * Only here to match the official home_page template
    */
    body {
        background-color: var(--pico-color-sand-50);
        min-height: 100vh;
    }

    header .welcome-grid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    a[role="logo"] svg {
        width: 130px;
    }

    @keyframes pos {

        0%,
        100% {
            transform: rotate(-6deg);
        }

        50% {
            transform: rotate(6deg);
        }
    }

    svg[role="egg"] {
        color: var(--pico-primary);
        animation: pos 3s ease infinite;
        transform: translateY(50px);
        transform-origin: 50% 80%;
    }

    .egg-banner {
        text-align: center;
    }

    .egg-banner--features {
        margin: 0;
        padding: 0;

        li {
            display: flex;
            gap: 10px;
            align-items: center;

            svg {
                fill: var(--pico-primary);
                stroke: var(--pico-primary);
            }
        }
    }


    footer.welcome-grid article {
        text-align: center;
    }

    footer.welcome-grid article h2 {
        font-size: 1rem;
        text-decoration: underline;
    }

    footer.welcome-grid article a:hover h2,
    footer.welcome-grid article a:hover p {
        color: var(--pico-primary);
    }

    a[role="card"] svg {
        width: 4rem;
    }

    @media screen and (min-width: 768px) {
        a[role="logo"] svg {
            width: 150px;
        }

        .egg-banner {
            display: grid;
            grid-template-columns: 4fr 8fr;
            gap: 20px;
            align-items: center;
            text-align: inherit;
        }
    }

    @media screen and (min-width: 1024px) {
        footer.welcome-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }

        footer.welcome-grid svg {
            width: 2rem;
            color: --var(pico-primary);
        }
    }

    @media screen and (min-width: 1280px) {
        footer.welcome-grid article a {
            display: grid;
            grid-template-columns: 1fr 3fr;
            align-items: center;
        }

        footer a[role="card"] svg {
            width: 3rem;
        }

        footer hgroup {
            text-align: left;
            margin: 0;
        }
    }
</style>
{% endblock extra_css %}

{% block content %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{% include 'home/welcome_page.html' %}

{% endblock content %}
